@mixin maingrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30em auto auto;
}

@mixin gridcentered {
    justify-self: center;
    align-self: center;
}

@mixin flexcentered {
    display: flex;
    justify-content: center;
    align-items: center;
}