@mixin maingrid {
    display: grid;
    grid-auto-columns: auto auto auto;
    grid-auto-rows: auto;
}

@mixin gridcentered {
    justify-self: center;
    align-self: center;
}

@mixin body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
}

@mixin flexcentered {
    display: flex;
    justify-content: center;
    align-items: center;
}