@import 'mixins';

.main {
    @include maingrid;
  
    header {
        @include gridcentered;
        grid-column: 1/3;
        grid-row: 1;
    }
  
    .body {
        @include body;
        grid-column: 1/3;
        grid-row: 2;
  
      .intro {
        grid-column: 1/4;
        grid-row: 1;
      }
  
      .gyms {
        @include gridcentered;
        grid-column: 1/4;
        grid-row: 2;
      }
        
      .form {
          @include gridcentered;
          grid-column: 1/4;
          grid-row: 3;
      }
    }

    footer {
        @include gridcentered;
        grid-column: 1/3;
        grid-row: 3;
      }
  }