@import 'mixins';

.main {
    @include maingrid;
  
    header {
        grid-column: 1/4;
        grid-row: 1;
    }
  
    .body {
        grid-row: 2;
        .tabs {
            .form {
                .textfields {
                    display: grid;
                    grid-auto-columns: auto;
                    grid-auto-rows: auto;
                    .name {
                        grid-column: 1;
                    }
                    .address {
                        grid-column: 1;
                    }
                    .description {
                        grid-column: 2;
                        grid-row: 1/4;
                    }
                }
            }
        }
    }

    footer {
        @include gridcentered;
        grid-column: 1/3;
        grid-row: 3;
      }
  }