@import 'grid';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.main {
  font-family: 'Ubuntu';
  font-weight: 300;
}

.mainheader {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-image: url('/images/gym.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  h1 {
    display: flex;
    justify-content: flex-end;
    font-size: 5em;
    color: white;
    text-shadow: 2.5px 2.5px black;
    padding-right: 1.5em;
  }
  section {
    display: flex;
    height: 10rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(63, 81, 181, 0.5);
    p {
      font-size: 1.5em;
      color: white;
      text-shadow: 1px 1px black;
    }
  }
}

.tabs {
  max-width: 100%;

  .MuiButtonBase-root-59 {
    margin-left: 1em;
  }

  .MuiTypography-body1-74 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  ul {
    padding-left: 0em;
    .GymInfo-card-165 {
        max-width: 100%;
      }
      .expandmore {
        display: flex;
        justify-content: flex-end;
      }
      .GymInfo-expand-166 {
        font-size: 5rem;
        color: #3f51b5;
        text-shadow: 2.5px 2.5px black;
      }
    }

  .form {
    h2 {
      display: flex;
      justify-content: center;
    }
    form {
      display: inline-flex;
      flex-direction: column;
      width: 100%;
      .textfields {
        .locationcontainer {
          display: flex;
          margin-left: 0;
          margin-bottom: 1em;
        }
        button {
          margin-bottom: 1em;
        }
        .MuiFormControl-root-184 {
            display: flex !important;
          }
        .description {
          margin-top: 0;
          margin-left: 16px;
        }
      }
      .selecttimepicker {
        margin: 0 auto;
      }
      button {
        margin: 0 auto;
      }
    }
  }
}