@import 'grid';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.main {
  font-family: 'Ubuntu';
  font-weight: 300;
}

.mainheader {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-image: url('/images/gym.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  h1 {
    display: flex;
    justify-content: flex-end;
    font-size: 5em;
    color: white;
    text-shadow: 2.5px 2.5px black;
    padding-right: 1.5em;
  }
  section {
    display: flex;
    height: 10rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(63, 81, 181, 0.5);
    p {
      font-size: 1.5em;
      color: white;
      text-shadow: 1px 1px black;
    }
  }
}

.GymCard {
  width: 100%;
}