@import 'grid';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

header {
  font-family: 'Ubuntu';
  font-size: 2.5em;
}

.main {
  font-family: 'Ubuntu';
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: row;
}

.form > .MuiFormControl-root-1 {
  display: flex;
  flex-flow: row wrap;
}

.selectortimepicker {
  display: flex;
  flex-flow: column wrap;
}